<form class="col-6">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nome</label>
      <input type="email" class="form-control" id="exampleInputEmail1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Carga Horária</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword2" class="form-label">Escola</label>
        <input type="password" class="form-control" id="exampleInputPassword2">
    </div>
    <select class="form-select mb-3" id="floatingSelect" aria-label="Floating label select example">
        <option selected>Escolha um professor</option>
        <option value="otavio">Otávio</option>
        <option value="vivian">Vivan</option>
        <option value="leandro">Leandro</option>
        <option value="claudia">Cláudia</option>
      </select>
      <div class="input-group border border-light ms-1 mb-3 row">
        <div class="mb-1"> 
            <input class="form-check-input" type="radio" value="" id="radio1" aria-label="Radio button for following text input">
            <label class='ms-1' for="radio1">Obrigatória</label>
        </div>
        <div class="mb-1"> 
            <input class="form-check-input" type="radio" value="" id="radio2" aria-label="Radio button for following text input">
            <label class="ms-1" for="radio2">Opcional</label>
        </div>
      </div>
    <button (click)="enviar($event)" type="submit" class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
  </form>