<app-navbar></app-navbar>
<app-modal></app-modal>
<div class="row text-bg-secondary p-3">
  <h1 class='text-center'>CADASTRO PARA MATÉRIAS</h1>
  <div class='container row'>
    <div class='start-100  col-6'>
      <img src="../assets/Materias.png" class="img-fluid">
    </div>
    <div class='col-6'>
      <!--<app-formulario></app-formulario>-->
      <app-formulario-injecao></app-formulario-injecao>
    </div>
</div>
</div>
<app-cards [personagem] = 'personagem'></app-cards>
<app-formulario-injecao></app-formulario-injecao>